.publications-list {
  font-size: 15px; 
}
  
.publications-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.publications-list ul li.publications {
  margin-bottom: 2.5em;
}

.publications-list ul li.publications p {
  margin: 0;
}

.info-categories {  
  display: flex;  
  white-space: nowrap;
  flex-wrap: wrap;
  justify-content: right;  
  gap: 0.15em; 
  margin: 0.15em 0;
}

.info-category {
  color: #50a5d2;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.75em;
  padding: 0.25em 0.25em; 
  cursor: pointer;
  text-align: center;
  background-color: #f2f0e8;
  white-space: normal; 
}

.info-category:hover {
  color: #153268;
}

.publications-details-listing {
  margin-top: 0em;
  font-size: 0.9rem;
  background-color: #f2f0e8; 
  padding: 0em; 
  border-radius: 5px; 
  display: inline-block;
  width: 100%;
}

.publications-links {
  display: flex; 
  flex-wrap: wrap;
  gap: 0.15em; 
}

.publications-link {
  display: inline-flex;
  white-space: nowrap;
  padding: 0.15em 1em;
}

.publications-link a {
  text-decoration: none;
  color: #50a5d2; 
}

.publications-link a:hover {
  color: #153268; 
}

/* Effect button */
.custom-btn {
  color: #50a5d2;
  padding: 0;
}

.custom-btn:hover {
  color: #153268;
}

.publications-content.listing-publications-info {
    display: block; 
    width: 100%; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}

.thumbnail-image {
  border-width: 0px !important;
  border-style: solid;
  margin-top: 0px !important;
  padding-top: 0em !important;
  border-color: transparent !important;
}

.quarto-title-banner h1, .quarto-title-banner .h1, .quarto-title-banner h2, .quarto-title-banner .h2 {
  color: #153268;
}

.quarto-title-banner {
  margin-bottom: 0em;
  color: #153268;
}

.quarto-title-block .quarto-title-banner {
    background-position: center;
    z-index: 0;
}

.quarto-title-block .quarto-title-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: 1;
}

.quarto-title-block .quarto-title-banner * {
    position: relative;
    z-index: 2;
}